hello jhgkjh kjgh kjhg kj gkjhg kjhg kjhg kg kjg kjg k g
<%= form_for :team, url: @team do |f|
 %><%= "#{current_user} asdfadf"%>asdfadf
    <div class = "form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter wiki title", id:'team_title' %>
    </div>
    <div class = "form-group">
      <%= f.label :sport %>
      <%= f.text_field :sport, class: 'form-control', placeholder: "Enter wiki title!", id:'team_title' %>
    </div>
    <div class = "form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control', placeholder: "Enter wiki title", id:'team_title' %>
    </div>
    <div class = "form-group">
      <%= f.submit class: 'btn btn-success' ,id: 'team_role_submit'  %>
    </div>
  <% end %>
<%end%>