<h1>Teams#show</h1>
  <% if @team.avatar? %>
        <div class="">
          <p>Current avatar</p>
          <%= image_tag( @team.avatar.profile.url ) %>
        </div>
  <% end %>
  <%= link_to "team chat", messages_path %>
<p>Find me in app/views/teams/show.html.erb</p>
<p><span>team: <!-- </span><%= @team.name %></p> -->
 <p><span>captain: </span><%= link_to @team.captain.name, captain_path(@team.captain.id) %></p> 
<p><span>sport: </span><%= @team.sport %></p>
<p><span>location: </span><%= @team.location %></p>
</br>
<strong> list of teammates</strong>
<% @team.teammates.each do |teammate| %>
   <p><%= link_to teammate.name, teammate_path(teammate.id) %></p>
<% end %>
