<h1>Teams#show</h1>
  <% if @team.avatar? %>
        <div class="">
          <p>Current avatar</p>
          <%= image_tag( @team.avatar.profile.url ) %>
        </div>
  <% end %>
  <%= link_to "team chat", messages_path %>
<p>Find me in app/views/teams/show.html.erb</p>
<p><span>team: <%= @team.name %></p>
 <p><span>captain: </span><%= link_to @team.captain.name, captain_path(@team.captain.id) %></p>
<p><span>sport: </span><%= @team.sport %></p>
<p><span>location: </span><%= @team.location %></p>
</br>
<strong> list of teammates</strong>
<%if @team.teammates%>
  <% @team.teammates.each do |teammate| %>
     <p><%= link_to teammate.name, teammate_path(teammate.id) %></p>
  <% end %>
<%end%>

<%= form_for :team_relationship, url: @team_relationship, method: :post,:html => { :id => 'new_team_relationship'} do |f|
 %>
    <div class = "form-group">
      <%= f.label :sender_team_id %>
      <%= f.text_field :sender_team_id, class: 'form-control', placeholder: "Enter wiki title", id:'sender_team_relationship',value: "#{current_user.team.id}" %>
    </div>
    <div class = "form-group">
      <%= f.label :receiver_team_id %>
      <%= f.text_field :receiver_team_id, class: 'form-control', placeholder: "Enter wiki title!", id:'receiver_team_relationship',value: "#{@team.id}" %>
    </div>
    <div class = "form-group">
     <button type="button" id ="#AddFriendTeam" class="btn btn-primary btn-lg" >
      <%if @current_team_relationship == nil %>
        Add Friend
      <%elsif @current_team_relationship.receiver_team == @team%>
        Request Sent
      <%else%>
        Request Pending...
      <%end%>
     </button>
    </div>
<%end%>

