<h1>Teams#new Under captains/teams/new.htm</h1>
<p>Find me in app/views/teams/new.html.erb</p>
<h1>Make a New Team</h1>
 <div class= "row">
   <div class = "col-md-4">
     <p>Guidlines for wikis</p>
     <ul>
       <li>Keep it clean</li>
       <li>Keep it safe</li>
       <li>Keep it classy Sandiego </li>
     </ul>
   </div>
 </div>
<div class = "col-md-8">
  <%= form_for  :team, url: captain_teams_path(@captain, @team),:html => { :id => 'team_form'}, method: :post  do |f|
 %><%= current_user %>
      <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>
    <div class = "form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter wiki title" %>
    </div>
    <div class = "form-group">
      <%= f.label :sport %>
      <%= f.text_field :sport, class: 'form-control', placeholder: "Enter wiki title" %>
    </div>
    <div class = "form-group">
      <%= f.label :location %>
      <%= f.text_field :location, id:'team_location', class: 'form-control', placeholder: "Enter wiki title" %>

    </div>
    <div class = "form-group">
    <!--  <%= f.submit class: 'btn btn-success' ,id: 'team_role_submit'  %>-->
     <button type="button" id ="team_loc_create"class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Create Team
     </button>
    </div>
  <% end %>
  </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pick Your Address</h4>
      </div>
      <div class="modal-body">
        <ul id="location-list">

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='save-address'>Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

