hello I am index
<%= @opposing_team %>
<% @conversations.each do |conversation|%>
<ul>
  <li><%=link_to conversation.team.nil? ? @opposing_team.name : conversation.team.name, messages_path(:messages => { :conversation_id => conversation.id }) %>
    <ul>
      <% if conversation.team.nil? %>
         <% @opposing_team.teammates.each do |teammate| %>
            <li><%= teammate.name %></li>
          <%end%>
      <% else %>
           <% @user_conversations.each do |user_conversation| %>
               <% if user_conversation.recipient_id != current_user.id %>
                   <li><%= link_to user_conversation.recipient.name, messages_path(:messages => { :conversation_id => user_conversation.id }) %></li>
                <% elsif  user_conversation.sender_id != current_user.id %>
                    <li><%= link_to user_conversation.sender.name, messages_path(:messages => { :conversation_id => user_conversation.id }) %></li>
               <%end%>
          <%end%>
        <%end%>
    </ul>
  </li>
</ul>
<%end%>