<% @teams.each do |team|%>
<ul>
   <li>
   <%= team.name%>,<%= team.id %>
   </li>
</ul>
<%end%>

<h1>Make a New Conversation</h1>
 <div class= "row">
   <div class = "col-md-4">

     <ul>
       <li>Keep it clean</li>
       <li>Keep it safe</li>
       <li>Keep it classy Sandiego </li>
     </ul>
   </div>
 </div>
<div class = "col-md-8">
  <%= form_for :conversation, url: @conversation do |f|
 %><%= current_user %>
    <div class = "form-group">
      <%= f.label :home_team_id %>
      <%= f.text_field :home_team_id, class: 'form-control', placeholder: "Enter wiki title", id:'team_title' %>
    </div>
    <div class = "form-group">
      <%= f.label :visiting_team_id %>
      <%= f.text_field :visiting_team_id, class: 'form-control', placeholder: "Enter wiki title", id:'team_title' %>
    </div>
    <div class = "form-group">
      <%= f.submit class: 'btn btn-success' ,id: 'conversation_role_submit'  %>
    </div>
  <% end %>
  </div>

</div>