<p>hellodsdlasjsdjasfjadhfadskasfkhdfahkafk</p>
<h1>Captain or Teammate?</h1>
 <div class= "row">
   <div class = "col-md-4">
     <p>Guidlines for wikis</p>
     <ul>
       <li>Keep it clean</li>
       <li>Keep it safe</li>
       <li>Keep it classy Sandiego </li>
     </ul>
   </div>
 </div>
  t.string  "name"
    t.string  "sport"
    t.string  "location"
    t.integer "captain_id"
<div class = "col-md-8">
  <%= form_for :user, url: binary_selection_update_path(@user), html: { method: :post } do |f|
 %><%= current_user %>
    <div class = "form-group">
      <%= f.label :role %>
      <%= f.text_field :role, class: 'form-control', placeholder: "Enter wiki title", id:'user_role_attribute' %>
        <button type="button" class="btn btn-warning" id='role_button_captain'>captain</button>
         <button type="button" class="btn btn-primary" id='role_button_teammate'>teammate</button>
         <button type="button" class="btn btn-primary" id='role_button_individual'>individual</button>
         
    </div>
    <div class = "form-group">
      <%= f.submit class: 'btn btn-success' ,id: 'team_role_submit'  %>
    </div>
  <% end %>
  </div>

</div>

