<h1>Indiviual#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
Name:<%= @user.name%>
</br>
<% if @user.avatar? %>
        <div class="">
          <p>Current avatar</p>
          <%= image_tag( @user.avatar.profile.url ) %>
        </div>
<% end %>
<%= @user.bio%>
<% if policy(IndividualRelationship.new).create?%>

<%= form_for :individual_relationship, url: @relationship, method: :post,:html => { :id => 'new_individual_relationship'} do |f|
 %>
    <div class = "form-group">
      <%= f.label :sender_team_id %>
      <%= f.text_field :sender_team_id, class: 'form-control', placeholder: "Enter wiki title", id:'sender_individual_relationship',value: "#{current_user.id}" %>
    </div>
    <div class = "form-group">
      <%= f.label :receiver_id %>
      <%= f.text_field :receiver_id, class: 'form-control', placeholder: "Enter wiki title!", id:'receiver_individual_relationship',value: "#{@user.id}" %>
    </div>
    <div class = "form-group">
       <button type="button" id ="AddFriend" class="btn btn-primary btn-lg" >
        <%if @current_relationship == nil %>
          Add Friend
        <%end%>
       </button>
    </div>
  <%end%>
  <%else%>
    <% if @current_relationship && @current_relationship.receiver == @user%>
      Request Pending...
    <%elsif @current_relationship%>
      You have a friend request with <%= link_to @current_relationship.receiver.name, individual_show_path(@current_relationship.receiver) %> pending...
    <%end%>
<%end%>

