<!DOCTYPE html>
<html>
<head>
  <title>GlobeTrotters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--
  <%= javascript_include_tag :defaults, "http://localhost:9292/faye.js" %>
   -->

  <%= csrf_meta_tags %>

</head>
<% if flash[:notice] %>
  <p class="flash-notice alert alert-success"><%= flash[:notice] %></p>
<%end%>
<!--instance variables added in class of <body> to selectively rendor javascript -->
<body class="<%= @controller %> <%= @action %>">
   <div class="container">

        <ul class="nav nav-tabs">
           <!-- FriendBox component!-->
          <li id="FriendBox" style="margin-top:12px"></li>
          <li><%= link_to "Globe Trotter's", welcome_index_path %></li>
          <%if current_user%>
            <li><%= link_to "notebook", "/users/#{current_user.id}/answers/show"%></li>
          <%end%>
          <li><%= link_to "About", welcome_about_path %></li>
           <!--<%if current_user && current_user.role =="captain" && TeamRelationship.where(receiver_team_id: current_user.team_id ).first%>
                 <li><%= link_to "Friend Requested!",team_relationships_path %></li>
           <%end%>
           <%if current_user  && IndividualRelationship.where(receiver_id: current_user.id ).first%>
                 <li><%= link_to "Friend Requested!",individual_relationships_path %></li>
           <%end%>-->
          <div class="pull-right user-info">
             <% if current_user %>
                <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
               Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

             <% else %>
               <%= link_to "Sign In", new_user_session_path %> or
               <%= link_to "Sign Up", new_user_registration_path %>
             <% end %>
           </div>
      </ul>



      <%= yield %>
     </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

   <!-- <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v0.min.js"></script>-->

</body>
</html>
